<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HOTEL</a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary btn-sm" (click)="hospedeModal.show()" style="margin-bottom: 10px;">
          Incluir pessoa
        </button>
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Novo check in</h5>
            <form [formGroup]="formCheckin"> 
              <div class="row">
                <div class="col-lg-3">
                  <div class="mda-form-group append ng-select-group">
                    <ng-select formControlName="hospede" [formControl]="formCheckin.controls['hospede']" appendTo="body"
                      [ngClass]="formCheckin.controls['hospede'].hasError('required') && (formCheckin.controls['hospede'].dirty) ? 
                      'invalid-field' : !formCheckin.controls['hospede'].hasError('required') && (formCheckin.controls['hospede'].dirty) ? 
                      'valid-field' : ''"
                      [selectOnTab]="true" [items]="listGuestsSelect" class="mda-form-control form-control form-control-sm"
                      placeholder="{{ formCheckin.controls['hospede'].value ? '' : 'Pessoa'}}" bindLabel="hospede.nome"
                      bindValue="hospede">
                    </ng-select>
                    <div *ngIf="formCheckin.controls['hospede'].hasError('required') && (formCheckin.controls['hospede'].dirty)" class="invalid-message">
                      Insira um hóspede.
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mda-form-group">
                    <input placeholder="Data de entrada" formControlName="dataEntrada"
                    [ngClass]="formCheckin.controls['dataEntrada'].hasError('required') && (formCheckin.controls['dataEntrada'].dirty) ? 
                    'invalid-field' : !formCheckin.controls['dataEntrada'].hasError('required') && (formCheckin.controls['dataEntrada'].dirty) ? 
                    'valid-field' : ''"
                      [formControl]="formCheckin.controls['dataEntrada']" type="text"
                      [bsConfig]="{ rangeInputFormat : 'DD/MM/YY, HH:mm:ss', dateInputFormat: 'DD/MM/YY, HH:mm:ss' }"
                      class="form-control form-control-sm" #datepickerFull="bsDatepicker" bsDatepicker>
                      <div *ngIf="formCheckin.controls['dataEntrada'].hasError('required') && (formCheckin.controls['dataEntrada'].dirty)" class="invalid-message">
                        Insira uma data de entrada.
                      </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mda-form-group">
                    <input placeholder="Data de saída" formControlName="dataSaida" 
                      [ngClass]="formCheckin.controls['dataSaida'].hasError('required') && (formCheckin.controls['dataSaida'].dirty) ? 
                      'invalid-field' : !formCheckin.controls['dataSaida'].hasError('required') && (formCheckin.controls['dataSaida'].dirty) ? 
                      'valid-field' : ''"
                      [formControl]="formCheckin.controls['dataSaida']" type="text"
                      [bsConfig]="{ rangeInputFormat : 'DD/MM/YY, HH:mm:ss', dateInputFormat: 'DD/MM/YY, HH:mm:ss' }"
                      class="form-control form-control-sm" #datepickerFull="bsDatepicker" bsDatepicker>
                      <div *ngIf="formCheckin.controls['dataSaida'].hasError('required') && (formCheckin.controls['dataSaida'].dirty)" class="invalid-message">
                        Insira uma data de saída.
                      </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" formControlName="adicionalVeiculo"
                      [formControl]="formCheckin.controls['adicionalVeiculo']" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Possui veículo</label>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-sm" style="margin-top: 10px;" (click)="submitCheckIn()">
                Salvar
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Consultas</h5>
            <div style="margin-bottom: 10px;">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" value="all" id="all" name="all" [(ngModel)]="searchType"
                  class="custom-control-input" (change)="changeSearchType()">
                <label class="custom-control-label" for="all">Todas</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" value="hostedGuests" id="hostedGuests" name="hostedGuests" [(ngModel)]="searchType"
                  class="custom-control-input" (change)="changeSearchType()">
                <label class="custom-control-label" for="hostedGuests">Pessoas ainda presentes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" value="leftGuests" id="leftGuests" name="leftGuests" [(ngModel)]="searchType"
                  class="custom-control-input" (change)="changeSearchType()">
                <label class="custom-control-label" for="leftGuests">Pessoas que já deixaram o hotel</label>
              </div>
            </div>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Valor gasto (R$)</th>
                  <th scope="col">Última hospedagem (R$)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let guest of listGuests; let i = index">
                  <th scope="row">{{ guest.hospede.id }}</th>
                  <td>{{ guest.hospede.nome }}</td>
                  <td>{{ guest.hospede.documento }}</td>
                  <td>{{ guest.total }}</td>
                  <td>{{ guest.last }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" bsModal #hospedeModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="labelModal"
    aria-hidden="true">
    <form class="form-validate" novalidate="" [formGroup]="formHospede">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="labelModal">Novo hóspede</h5>
            <button type="button" class="close" (click)="hospedeModal.hide()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-4">
                <input type="text" [ngClass]="formHospede.controls['nome'].hasError('required') && (formHospede.controls['nome'].dirty) ? 
                'invalid-field' : !formHospede.controls['nome'].hasError('required') && (formHospede.controls['nome'].dirty) ? 
                'valid-field' : ''" formControlName="nome" [formControl]="formHospede.controls['nome']" 
                class="form-control form-control-sm" placeholder="Nome">
                <div *ngIf="formHospede.controls['nome'].hasError('required') && (formHospede.controls['nome'].dirty)" class="invalid-message">
                  Insira um nome.
                </div>
              </div>
              <div class="col-lg-4">
                <input type="text" [ngClass]="formHospede.controls['documento'].hasError('required') && (formHospede.controls['documento'].dirty) ? 
                'invalid-field' : !formHospede.controls['documento'].hasError('required') && (formHospede.controls['documento'].dirty) ? 
                'valid-field' : ''" formControlName="documento" [formControl]="formHospede.controls['documento']" 
                class="form-control form-control-sm" placeholder="Documento">
                <div *ngIf="formHospede.controls['nome'].hasError('required') && (formHospede.controls['nome'].dirty)" class="invalid-message">
                  Insira um documento.
                </div>
              </div>
              <div class="col-lg-4">
                <input type="text" [ngClass]="formHospede.controls['telefone'].hasError('required') && (formHospede.controls['telefone'].dirty) ? 
                'invalid-field' : !formHospede.controls['telefone'].hasError('required') && (formHospede.controls['telefone'].dirty) ? 
                'valid-field' : ''" formControlName="telefone" [formControl]="formHospede.controls['telefone']" 
                class="form-control form-control-sm" placeholder="Telefone">
                <div *ngIf="formHospede.controls['nome'].hasError('required') && (formHospede.controls['nome'].dirty)" class="invalid-message">
                  Insira um telefone.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" (click)="hospedeModal.hide()" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="submitHospede(hospedeModal)">Salvar</button>
          </div>
        </div>
      </div>
    </form>
  </div>